<div class="container">
    <h2 class="title is-4 has-text-weight-bold">Purpose of Measurement Platform</h2>
    <p>Platform for distributed mobile measurements with a focus on:</p>

    <div class="timeline">
        <div class="timeline-item">
            <span class="icon is-large"><i class="fas fa-project-diagram fa-2x"></i></span>
            <div class="content">Network Quality of Service (QoS)</div>
        </div>
        <div class="timeline-item">
            <span class="icon is-large"><i class="fas fa-battery-full fa-2x"></i></span>
            <div class="content">Sustainability metrics</div>
        </div>
        <div class="timeline-item">
            <span class="icon is-large"><i class="fas fa-broadcast-tower fa-2x"></i></span>
            <div class="content">Different Radio Access Technologies (RATs)</div>
        </div>
        <div class="timeline-item">
            <span class="icon is-large"><i class="fas fa-network-wired fa-2x"></i></span>
            <div class="content">Application layer protocols</div>
        </div>
    </div>
</div>
