---
---

$primary: #3E4C73;

@import "main";

.navbar {
    background-color: #3E4C73 !important;
  }

// Make the "Welcome" title stay large
.hero-title {
    font-size: 3rem !important;
}

// Make the callout titles smaller
.callouts .title {
    font-size: 1.5rem !important;
}
